includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - enginescript-site-exporter.php
        - includes/

    excludePaths:
        - .github
    
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
    
    treatPhpDocTypesAsCertain: false
    
    ignoreErrors: []
